.home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/overlay-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  overflow: hidden;
  .navbar {
    --bs-navbar-brand-font-size: 2rem;
    --bs-navbar-brand-hover-color: rgba(255, 255, 255, 0.6);
    --bs-navbar-brand-color: white;
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 80px;
  }
  p {
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
  }
}
